.navbar-brand img {
  height: 70px;
}
.btn{
  letter-spacing: 0;
  border: 0px solid transparent;
  padding: 0.6rem 18px;
}

.home-header .btn{
  height: 60px;
  line-height: 11px;
  font-size: 0.84rem;
}

.homeOverLay{
  
}

.home{
  background: url("../src/assets/img/bg/trevor.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.homeText{
  margin-top: 15%;
}
.navbar{
  padding: 0.5rem 1rem;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Individual SDG 1  */
.sdgBackground{
  background: #e5233d;
  color: #fff;
}

.sdgBackground h5{
  color: #fff;
}

.targetButtons{
  display: inherit !important;
  background-color: #a9a9a9;
}

.targetButtons h5{
  color: #fff;
}


/* Agenda 2063 */
.agenda2063Side .nav-link{
  background-color: #f5593d;
  text-transform: uppercase;
  border-radius: 0rem;
  font-size: 0.7rem;
font-weight: bold;
text-align: center;
} 

.agenda2063Side .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fa3a0e;
}


.agenda2063Header{
  background-color: #a9a9a9;;
}

.agenda2063Header h5{
  color: #fff;
}

.agenda2063Header .btn{
  background-color: #f5593d;
  color: #fff;
}

.agenda2063 .nav-pills .nav-link{
  color: #fff;
}

.selectButtons{
  text-align: center;
}

.selectButtons .form-control{
  width: 75%;
}

.selectButtons .btn{
  padding: 0.8rem 18px;
}

.nav-wrapper{

}
.agenda2063Header .nav-wrapper{
  padding: 0.3rem 0;
}

.agenda2063Header .nav-pills{

}

.agenda2063Side .nav-pills .nav-item{
  padding-right: 0rem;
}
.goalButtons .nav-pills .nav-link{
  padding: 0.6rem 1rem;
  border-radius: 0px;
  font-weight: 600;
}
/* Country profile page */
 .modal-body{
  padding: 0 0.9rem;
}

.countryFlags{
  height: 100px;
  width: 150px;
}

@media (min-width: 992px) {
  .modal-xl {
    max-width: 1200px; } }

.countryDemographics{
  background-color: #008fe5;
  color: #fff;
}
.countryName{
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 20px;
}

 .sdgImages .card-img{
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
}


/* FAQ Page */

.faqs .card{
  margin-bottom: 8px;
}

/* About us page */
.card-header {
  padding: 0.5em 1.5rem;
}

.aboutCards .card{
  height: 460px;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 0.0625rem);
  padding-right: 15px;
  padding-left: 15px;
}

.sdgCard, .sdgCard .card-header {
  background-color: #239bc8;
}
.countryProfileCard, .countryProfileCard .card-header{
  background-color: #dc252b;
}
.dashboardCard, .dashboardCard .card-header{
  background-color: #f5c11c;
}
.agenda2063Card, .agenda2063Card .card-header{
  background-color: #7ebb42;
}

.aboutCards .card{
  color: #ffffff;
}
.aboutCards .card-header{
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.sdg .card-img{
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
}
.sdg .col-md-2{
  padding-right: 0px;
  padding-left: 0px;
}

/* Dashboard page */

.dashboard table{
  border-collapse: separate;
  border-spacing: 0.25em;
}
.sdg-header{
  font-size: 7px;
  text-align: center;
  width: 5.4%;
}
.blank-header{
  width: 8.2%;
}
.sdg-data{
  font-size: 9px;
  font-weight: bold;
  color: #000;
  text-align: right;
}

.red{
  background-color: rgb(255, 0, 0);
}
.orange{
  background-color: #ffa500;
}
.green{
  background-color: rgb(0, 128, 0);
}
.grey{
  background-color: grey;
}

.dashboard tr{
  height: 28px;
}

.dashboard td{
  border-radius: 8px;
  /* border-top: 3px solid #fff; */
}

.dashboard #tabs-icons-text{
  margin-left: 10%;
  text-transform: uppercase;
}

.dashboard .nav-pills .nav-link{
  border-radius: 0px;
}
.dashboard .nav-pills .nav-item:not(:last-child) {
  padding-right: 0rem;
}
.dashboard .card{
  border: 0px;
}
.dashboard .card-body{
  padding: 0px;
}
.dashboard .nav-pills .nav-link{
  background-color: #34b5b8;
  color: #fff;
  font-weight: 600;
  padding: 1.1rem 1rem;
}
.dashboard .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #229699;
  border-color: #229699;
}

/* .select-search-box {
  width: 300px;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}

  .select-search-box--multiple {
      border-radius: 4px;
      box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
      overflow: hidden;
  }

  .select-search-box::after {
      font-family: fontawesome;
      content:"\f078";
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      text-align: center;
      line-height: 50px;
      color: #222f3e;
      z-index: 1;
  }

  .select-search-box--multiple::after, .select-search-box--focus::after {
      content:"\f002";
  }
  
  .select-search-box__icon--disabled::after {
      content: none !important;
  }

  .select-search-box--input::after {
      display: none !important;
  }

  .select-search-box__out {
      display: none;
  }

  .select-search-box__search {
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      background: none;
      outline: none;
      font-size: 16px;
      padding: 0 20px;
      color: #222f3e;
      -webkit-appearance: none;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
      cursor: pointer;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 50px;
      box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  }

  input.select-search-box__search {
      line-height: 1;
  }

  .select-search-box--multiple .select-search-box__search {
      box-shadow: none;
  }

  .select-search-box--input .select-search-box__search {
      cursor: text;
  }

      .select-search-box__search:focus {
          cursor: text;
      }

      .select-search-box__search--placeholder {
          font-style: italic;
          font-weight: normal;
      }

  .select-search-box input::-webkit-input-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
  }

  .select-search-box input::-moz-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
  }

  .select-search-box input:-moz-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
  }

  .select-search-box input:-ms-input-placeholder {
      color: #ccc;
      font-style: italic;
      font-weight: normal;
  }

  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
  }

  .select-search-box__select {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: #fff;
      border-radius: 4px;
      overflow: auto;
      box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
      z-index: 100;
      min-height: 49px;
  }

  .select-search-box--multiple .select-search-box__select {
      display: block;
      position: static;
      border-top: 1px solid #eee;
      border-radius: 0;
      box-shadow: none;
  }

      .select-search-box__select--display {
          display: block;
      }

  .select-search-box__option {
      font-size: 16px;
      font-weight: 400;
      color: #616b74;
      padding: 15px 20px;
      border-top: 1px solid #eee;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
  }

      .select-search-box__option:first-child {
          border-top: none;
      }

      .select-search-box__option--hover, .select-search-box__option:hover {
          background: #f4f7fa;
      }

      .select-search-box__option--selected {
          background: #54A0FF;
          color: #fff;
          border-top-color: #2184ff;
      }

      .select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
          background: #2184ff;
          color: #fff;
          border-top-color: #2184ff;
      }

      .select-search-box__group {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid #eee;
          position: relative;
      }

      .select-search-box__group-header {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          padding: 0 10px;
          color: rgba(0, 0, 0, 0.5);
          font-size: 12px;
      } */
