html { font: 100%/1.3 'Quicksand',Century Gothic, Verdana, sans-serif; }
body { overflow: hidden; min-width: 20em;background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); }
.circle, .circle:before, .circle:after { border-radius: 50%; }
.menunav {
  position: absolute;
  display: block;
  left: 20%;
  margin: 150px auto;
  min-width: 10em; width: 50%; max-width: 30em;
}
.menunav ul {
  position: relative;
  padding: 50%;
  max-width: 0; max-height: 0;
  list-style: none;
}
.menunav li {
  position: absolute;
}
.slice {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  width: 50%; height: 50%;
  transform-origin: 100% 100%;
}
/* Cell orientation */
.coconut { transform: rotate(13deg) skewX(40deg); }
.vanilla { transform: rotate(64.43deg) skewX(40deg); }
.orange { transform: rotate(115.86deg) skewX(40deg); }
.almond { transform: rotate(167.29deg) skewX(40deg); }
.grape { transform: rotate(218.71deg) skewX(40deg); }
.blackberry { transform: rotate(270.14deg) skewX(40deg); }
.cherry { transform: rotate(321.57deg) skewX(40deg); }
.menunav label { cursor: pointer; }
.slice label {
  display: block;
  width: 200%; height: 200%;
  transform: skew(-40deg) rotate(-65deg);
  line-height: 1.9;
  text-align: center;
}
.slice label span {
	display: block;
}
.slice label:hover {
	color: white;
	border: 2px solid black;
	transition: all 0.5s ease;
}
.circle .menuname:hover {
	color: white;
	transition: color 0.5s ease;
}

.menudesc {
	width: 280px;
}

/* Cell background colors */
.coconut label, .ococonut:checked ~ nav .unsel { background: #D0D0D0; }
.vanilla label, .ovanilla:checked ~ nav .unsel { background: #e6e600; }
.orange label, .oorange:checked ~ nav .unsel { background: #ffb038; }
.almond label, .oalmond:checked ~ nav .unsel { background: #d3a573; }
.grape label, .ogrape:checked ~ nav .unsel { background: #ace600; }
.blackberry label, .oblackberry:checked ~ nav .unsel { background: #cc0099; }
.cherry label, .ocherry:checked ~ nav .unsel { background: #ff0000; }


.slice label { font-weight: 700; line-height: 5; }
.circle label { font-weight: 700; line-height: 5; }

.slice p{
  width: 100px;
  margin-left: 185px;
}

.unsel {
  z-index: 2;
  top: 34%; left: 34%;
  width: 32%; height: 32%;
  text-align: center;
  background-color: wheat;
}
.unsel label{
  display: block;
  width: 100%; height: 100%;
  line-height: 9;
}
.middle{
  z-index: 1;
  top: 15%; left: 15%;
  width: 70%; height: 70%;
  text-align: center;
  background-color: white;
}
.menunav{
  position: absolute;
  left: 50%;
}
.visible{
    display: block;
    position: absolute;
    margin: 250px 0 0 250px;
}
.hidden{
  display: none;
}
.visible ul{
  list-style-type: none;
}
.visible details ul{
  list-style-type: square;
}
.visible a{
  font-size: 120%;
  text-decoration: none;
  color: purple;
}
.Reseau a{
  font-size: 160%;
}
.Reseau a:hover{
  color: red;
}
.circle label span{
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
